// Global styles for the dashboard components

// Card styles
.dashboard-card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1),
                0 0.9375rem 1.40625rem rgba(90,97,105,0.1),
                0 0.25rem 0.53125rem rgba(90,97,105,0.12),
                0 0.125rem 0.1875rem rgba(90,97,105,0.1);
  }
  
  .dashboard-card-green {
    background: linear-gradient(to right, #0a504a, #38ef7d);
    color: #fff;
  }
  
  .dashboard-card-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4);
    color: #fff;
  }
  
  .dashboard-card-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56);
    color: #fff;
  }
  
  .dashboard-card-cherry {
    background: linear-gradient(to right, #493240, #f09);
    color: #fff;
  }
  
  // Icon styles
  .dashboard-card .mat-icon-large {
    font-size: 110px;
  }
  
  .dashboard-card .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
  }
  
  // Background color styles
  .l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec);
    color: #fff;
  }
  
  .l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
    color: #fff;
  }
  
  .l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56);
    color: #fff;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  
  
  mat-sidenav {
    width: 260px; // Adjust the width as needed
    padding-top: 60px; // Adjust based on your toolbar height
    background-color: #f3f3f2;
    color: #dbbfbf;
  }
  
  mat-sidenav-content {
    flex: 1;
    padding: 24px;
  }
  
  @media (max-width: 992px) {
    mat-sidenav {
      width: auto; // Reduced width for smaller screens
    }
  
    mat-sidenav-content {
      padding: 24px 50px; // Adjusted padding for smaller screens
    }
  }
  .download-button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .download-button {
    color: inherit; /* Keep the default link color */
    text-decoration: none; /* Remove underline */
    margin-right: 10px; /* Adjust margin as needed */
  }
  