// Custom SCSS for the login form

  bg-image {
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
    background-size: cover;
  }
  
  container-fluid {
    height: 100%;
  }
  
  row {
    height: 100%;
  }
  
  col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  mat-card {
    width: 350px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-header {
    text-align: center;
    padding: 16px;
  }
  
  mat-card-content {
    padding: 16px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  button[type='submit'] {
    width: 50%;
  }
  
  .alert {
    margin-bottom: 16px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-danger {
    color: #f44336;
  }
  
  a.text-danger {
    text-decoration: none;
  }